.main {
	display: flex;
	flex-flow: row nowrap;
	transition: all 0.3ms ease-in-out;
}

.title {
	padding: 0 0 1em 1.4em;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 0;
}

.subheader {
	padding: 1em;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	border-bottom: 1px solid #eaeaea;
}

.subheader .subheader__createMap {
	font-size: 0.8em;
	padding-top: 0.8em;
	text-decoration: none;
}

.subheader .subheader__createMap img {
	margin-right: 1em;
	position: relative;
	top: -1px;
	width: 16px;
}

.list {
	margin-top: 0.8em;
	padding: 1em;
}

.list__item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: #F6F6F6;
	min-height: 85px;
	padding: 0 2em;
}

.list__item:first-child {
	border-bottom: 1px solid #eaeaea;
	font-weight: bold;
	min-height: 40px;
}

.list__item:nth-child(2n) {
	background-color: #FFF;
}

.list__item_status {
	width: 5%;
}

.list__item_name {
	width: 15%;
	padding: 0 2em;
}

.list__item_servers {
	width: 20%;
	padding: 0 2em;
}

.list__item_servers img {
	margin: 0.2em;
}

.list__item_volumes {
	width: 20%;
	padding: 0 2em;
}

.list__item_volumes img {
	margin: 0.2em;
}

.list__item_btns {
	width: 28%;
	display: flex;
	flex-flow: row no-wrap;
	justify-content: flex-end;
}

.list__item_btns_btn {
	margin-right: 1.4em;
	position: relative;
	cursor: pointer;
}

.list__item_btns_btn:hover .tooltip {
	visibility: visible;
}

.tooltip {
	position: absolute;
	visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  top: 150%;
  left: -30px;
}